html, body {
	background-color: #ede8ef;
}

#wrapper {
    position: absolute;
    top:  50%;
    left: 20%;
    transform: translate(-50%,-50%);
}

.icon {
	font-size: 40px;
	color: #000;
	-webkit-transition:-webkit-transform color 0.6s;
	-o-transition-property:width,height,-o-transform,color;
	-moz-transition-property:width,height,-o-transform,color;
	-moz-transition-duration:0.6s;
	transition-property:width,height,transform,color;
	transition-duration:0.6s;
}

.icon:hover {
	color: #b8a2c4;
}

a {
	text-decoration: none;
}

a.main {
	font-size: 60px;
	font-weight: bolder;
	color: #333135;
}

a.main:hover {
	text-decoration: underline;
	color: #282728;
	text-decoration-color: #b8a2c4;
}